body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.icon-btn {
  padding: 0.5rem 1rem;
  background: #00000000;
  border: 1.5px solid black;
  cursor: pointer;
}

button.icon-btn:hover {
  opacity: 0.5;
}
